/* unordered lists need no bullets */
nav {
    background-color: black;
    
}

.navBar li {
    list-style-type: none;
    margin: 10px;
    margin-left: 50px; 
}

.navInline{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    display: flex;
    justify-content: right;   
    text-align: end; 
    margin-right: 125px;
    align-content: space-between;
}

.navInline li:hover {
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    margin-left: 50px;
}

.socialMedia li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    
  }

a {
    color: white
}

a:visited {
    color:coral;
}

a:hover {
    color: var(--jasper);
}

.aboutInfo .socialMedia {
    background-color: black;
}

.btn a:visited {
    color: white;
}