
:root {
  --murrey: #912455;
  --jasper: #C14E3C;
  --walnut: #5C5552;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5C5552;
  background-size: cover;
  background-image: url(assets/Site_Design_Large_300dpi.png);
  background-repeat: none;
}

code {
  font-family: 'Montserrat', sans-serif;
}

footer {
  color: white;
  background-color: black;
  max-height: 3rem;
  max-width: 100%;
  text-align: center;
}

